body{
    margin: 0;
    background-color: white;
    font-family: "Hanken Grotesk";
    font-weight: 500;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 18px;
}

main{
    grid-column: 1/3;
    display: block;
    margin: 0 auto;
    padding-top: calc(11.5vw  - 7vh);
}
article{
    display: flex;
    flex-wrap: wrap;
}
article section{
    background-color: red;
    flex: 1 1 12em;
    /* max-width: 15rem;  */
    box-sizing: border-box; /* Asegura que el padding y el border no afecten el tamaño del elemento */
    padding: 10px;
}
.results{
    box-sizing: border-box;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 2rem 2rem;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: hsla(0, 0%, 100%, 0.5);
    text-align: center;

    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
}
.mainscore{
    height: 120px;
    width: 120px;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    border-radius: 50%;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.mainscore h2{
    color: white;
    font-size: 3em;
    margin:1rem 0 0 0;
    display: inline-block;
}
.mainscore p{
    margin: 0;
    font-size: .75em;
}
#a{
    margin: 0;
    color: hsla(0, 0%, 100%, 100%);
}
.results p{
    margin: 0.5em 0;
}
.attribution { grid-column: 1/3; font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
